{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}





<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<style>
table, th, td {
  border: 1px solid black;
}
#t01 {
  width: 100%;
  background-color: #f1f1c1;
  }
</style>
<!--</head>-->
<!--<body>-->
<!--<div class="hero common-hero">-->
<!--	<div class="container">-->
<!--      <div class="hero-ct">-->
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">


              <table style="width:100%" id="t01">
                    <tr>
                        <th >Name of the movie</th>
                        <th>Ticket Quantities</th>
                        <th>Price</th>
                     </tr>
                    {% for tickets in slugs %}
                    {% for product in cart_movies %}
                    {% if product.slug == tickets.slug%}
                    <tr>
                       <td>{{ product.Title }}</td>
                       <td>{{ tickets.quantity}}
<!--                         <div >-->
                      <a href = "{{tickets.add_one_ticket}}"><button >+</button></a>
                      <a href = "{{tickets.remove_one_ticket}}"><button >-</button></a>
                      <a href = "{{tickets.remove_all_tickets}}"><button >Delete</button></a>
<!--                          </div>-->
                        </td>
<!--                       <td>{{ product.Price|mul:tickets.quantity }} </td>-->
						<td>{{ tickets.total_price_ticket}} </td>
                     </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
              </table>

<!--                {% for tickets in slugs %}-->
<!--                    {% for product in cart_movies %}-->
<!--                    {% if product.slug == tickets.slug%}-->
<!--                   total = {{ tickets.total_final_price }}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                    {% endfor %}-->
				<div>
					<a href="Checkout2"><button>PROCEED TO CHECKOUT</button></a>
				</div>
             </div>
        </div>
    </div>
</div>

{% endblock %}





